
/* .card-body{
    text-align: center;
} */

.blockquote{
  
      text-align: center;

}
.quote{
    font-size:20px ;
}
.cards{
    position: relative;
    top:45px;
    
}
.logos{
    position: relative;
    top:80px;
}
.accordion{
    
    position:relative;
    top:100px;
}
#navbar-example2{
    position: relative;
    top:100px;
}
.scrollspy-example{
    position: relative;
    top:30px;
}
.bottom{
   
    position: relative;
    top:80px;
  /* opacity: 0.9; */
}

.review{
    position:relative;
    top:15px;
    text-align: center;
}

.social{
     
      margin-top:70px;
      letter-spacing: 45px;
    }



.items,.list{
       margin-top:45px;
       color:black;
       line-height: 34px;
       font-weight: lighter;
     
}

.bottom ul li{
     list-style-type: none;
}

a{
    text-decoration: none;
    color:white;
    letter-spacing: 2px;
    padding: 20px;
}

a:hover{

    color:green;
}

.details{
    
     text-align: center;
}